* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

h1 {
    text-align: center;
    margin: 10px 0px;
}

button {
    padding: 20px 30px;
    margin: 0, 3px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
}

.row {
    margin: 10px 0;
}

.input {
    width: 24vw;
    padding: 20px 0px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 7px;


}